.sliderContainer {
    position: relative;
    width: 100%;
    max-width: 80%;
}

.sliderImageContainer {
    display: flex;
    justify-content: center;
    gap: 2%;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.sliderImage {
    width: 33%;
    height: 70vh;
    display: block;
}

.sliderButton {
    position: absolute;
    top: 50%;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
    transform: translateY(-50%);
    user-select: none;
}

.sliderButton.left {
    left: -200px;
}


.sliderButton.right {
    right: -200px;
}

@media (max-width: 1330px) {

    .sliderImage {
    width: 33%;
    height: 30vh;
    padding: 0 2%;
    }

    .sliderButton img {
        width: 30px;
        height: 15px;
    }
    .sliderButton.left {
        left: -37px;
    }

    .sliderButton.right {
        right: -37px;
    }
}