.mastersSection {
    padding: 120px 0 175px 0;
    width: 100%;
    min-height: 100vh;
    background: url('/images/backgroundIMG.png');
    background-size: cover;
    background-position: center;
}

.masters {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.masters h3 {
    text-transform: uppercase;
    color: var(--sections-name-color);
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 30px;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.vilText {
    width: 33%;
    display: flex;
    justify-content: safe;
    flex-direction: column;
    align-items: center;

    font-weight: 400;
    color: var(--text-color)
}

.vilText h4 {
    font-size: 70px;
    ;
}

.vilText p {
    font-size: 24px;
}

.mastersName {
    width: 36%;
    padding: 0 20px;
    display: flex;
    justify-content: safe;
    flex-direction: column;
    align-items: center;
    color: white;
    cursor: pointer;
}

.mastersName p {
    margin-right: 80px;
    font-size: 30px;
}

.imageMaster {
    width: 30%;
    height: 50vh;
}
.imageMaster img {
    width: 100%;
    height: 100%;
}

.active {
    width: 160%;
    cursor: pointer;
    position: relative;
    text-align: start;
    margin-left: -50%;
}


.active::before {
    content: "";
    position: absolute;
    top: 50%;
    right:0;
    width: 0;
    height: 5px;
    background-color: var(--text-color);
    transition: .3s;
}

.active::before {
    width: 30%;
}


.mastersName ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    text-align: end;
    font-size: 20px;
}


@media (max-width: 1330px) {

.mastersSection {
        padding: 50px 0 10px 0;
        min-height: 70vh;
    }
.masters h3 {
    font-size: 45px;
    margin-bottom: 50px;
}

.vilText h4 {
    font-size: 20px;
}

.vilText span {
    display: block
}

.vilText p {
    font-size: 16px;
    text-align: center;

}

.vilText a {
    font-size: 10px;
    margin-right: 10px;
}

.imageMaster img {
    width: 150px;
    height: 100%;
}
    
.mastersName {
    padding-left: 100px;
    font-size: 16px;
}

.imageMaster {
    width: 30%;
    height: 25vh;
}

.active {
    width: 100%;
    margin: 0;
    text-align: center;
}
.text {
    position: relative;
    cursor: pointer;
}

.text::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: var(--text-color);
    transition: width 0.3s ease;
}

.text.active::before {
    width: 100%;
}

.mastersName ul {
    gap: 5px;
    font-size: 14px;
}
}