.registration {
    padding: 120px 0 175px 0;
    width: 100%;
    min-height: 100vh;
    background: url('/images/backgroundIMG.png');
    background-size: cover;
    background-position: center;
}

.registrCont {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.registrCont h3 {
    text-transform: uppercase;
    color: var(--sections-name-color);
    font-size: 74px;
    font-weight: 700;
    margin-bottom: 100px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    font-size: 36px;
    font-weight: 400;
}
/* .form form {
    height: 700px;
} */

.form label {
    width: 500px;
    height: 126px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    
    text-align: center;
    gap: 16px;
    margin-bottom: 16px;
}

.form label input {
    width: 100%;
    height: 80px;
    font-size: 22px;
    margin-bottom: 10px;
}

.textA {
    font-size: 14px;
    width: 100%; 
    height: 13rem !important; 
    resize: none;
}


/* Chrome, Safari, Edge */
.form label input[type="number"]::-webkit-outer-spin-button,
.form label input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.form label input[type="number"] {
    -moz-appearance: textfield;
}


.form button {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5B5B5B;
    color: var(--text-color);
    font-size: 22px;
    font-weight: 400;
}

.contacts {
    width: 100%;
    display: flex ;
    padding: 68px 0;
    gap: 300px;
}

.adress{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.adress h4 {
    margin: 0 auto;
    color: var(--text-color);
    font-size: 40px;
}


.adress ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.adress ul li {
    margin-top: 10px;
    color: var(--text-color);
    font-size: 22px;
    font-weight: 400;
}

.adress ul li a {
    margin-top: 10px;
    color: var(--text-color);
    font-size: 22px;
    font-weight: 400;
}

.social {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 50px;
}
.social div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* gap: 50px; */
}

.errorMessage {
    color: red;
    font-size: 12px;
}

@media (max-width: 1330px) {
 
    .registration {
        padding: 50px 0 100px 0;
    }

    .registrCont h3 {
        font-size: 50px;
        margin-bottom: 100px;
    }
.form {
    font-size: 22px;

}

.form label {
    width: 300px;
    height: 80px;
    margin-top: 5px;
    gap: 10px;
    margin-bottom: 16px;
}

.form label input {
    width: 100%;
    height: 50px;
}
.form label input {
    width: 100%;
    height: 100px;
}
.textA {
    font-size: 10px;
    width: 10rem;
    height: 10rem !important;
}
.form button {
    width: 100%;
    height: 50px;
    font-size: 22px;
}

.contacts {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.adress h4 {
    font-size: 26px;
}
.adress ul li {
    font-size: 16px;
}

.adress ul li a {
    font-size: 16px;
}

.social {
    width: 100%;
    gap: 10px;
}

.social div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
}